
.navbar{
    position: sticky;
    
}
.btn-cart-nav{
    color: black;
    text-decoration: none;
    font-size: 25px;
  
}

.contenedorProductos {
    
    margin: 25px 25px;
  padding: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    margin: auto;
}
.card-title{
    font-size: 20px;
}
img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.producto {
    margin: 25px 45px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
.btn-cart{
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-style: oblique;
    font-weight: bolder;
}
.img-cart{
    width: 60px;
    height: 60px;
}
.img-cart-nav{
    width: 20px;
    height: 20px;
}
.btn-cart-nav{
    margin-top: 5px;
    margin-right: 45px;
}
.tit-form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 600;
   text-align: center;
   margin-top: 25px;
}
footer{
   padding: 15px;
    background-color: black;
    color: white;
    margin-top: 25px;
    text-align: center;
}